a{
color: red;
font-size: 30px;
}

div{
color: rgba(255,0,0,0.4);
}

#link{
color : lime;
}

#testlink
{
font-size:20px;
color:purple;
}

.human{
color:#4c8bf5
}

.animal{
color:#ffce45
}

.lion
{
color:#ffcedd
}

.monkey
{
color:#111111
}

.message
{
color:#747474;
background-color: #e4e4e4;
border: 2px solid #323232;
font-size: 20px;
margin: 10px;
padding: 15px;
}

.success
{
background-color: #19A15F;
color:#FFFFFFFF;
}

.failed
{
background-color: red;
color:#FFFFFFFF;
}

.warning
{
background-color: yellow;
color:black;
}

.message:hover
{
border:10px solid #323232
}

#center
{
width:20%;
margin-left: auto;
margin-right: auto;
/*position: relative;*/
/*display:flex;
justify-content:center;*/

/*margin:10px 0px 0px  500px;*/
text-align: center;
color: yellow;
font-size:32px;
border: 2px solid orange;
border-radius:100px;
opacity: 0.8;
}



body
{
background-image: url("Sun.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#skills
{
background-color:yellow;
color:orange;
padding:10px;
margin:25px;
border: 5px solid red;
font-size: 24px;
font-weight:800;
border-radius: 100px;
opacity: 0.4; /* прозрачность*/
box-shadow: 13px 13px 27px orange;/*настройки тени, вправо, вниз, размытие */
width: 150px;
/*height: 500px;*/
text-align: center;
/*display: none/block;*/
transform: rotate(0deg) scale(1.2);
transition: 2.0s all
}

#skills:hover
{
transform: rotate(360deg) scale(0.5);
opacity:0.7;
background-color: red;
}

