a{
color: red;
font-size: 30px;
}

div{
color: rgba(255,0,0,0.4);
}

#link{
color : lime;
}

#testlink
{
font-size:20px;
color:purple;
}

.human{
color:#4c8bf5
}

.animal{
color:#ffce45
}

.lion
{
color:#ffcedd
}

.monkey
{
color:#111111
}

.message
{
color:#747474;
background-color: #e4e4e4;
border: 2px solid #323232;
font-size: 20px;
margin: 10px;
padding: 15px;
}

.success
{
background-color: #19A15F;
color:#FFFFFFFF;
}

.failed
{
background-color: red;
color:#FFFFFFFF;
}

.warning
{
background-color: yellow;
color:black;
}

.message:hover
{
border:10px solid #323232
}
